<template>
    <div>
        <div class="modal fade" id="addNewConge" tabindex="-1" role="dialog" aria-labelledby="addNewCongeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewCongeLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <form @submit.prevent="addNewConge" @keydown="form.onKeydown($event)">

                    <div class="form-group">
                        <input v-model="form.cin" type="text" name="cin" placeholder="cin"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cin') }">
                        <has-error :form="form" field="cin"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.nom" type="text" name="nom" placeholder="nom"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('nom') }">
                        <has-error :form="form" field="nom"></has-error>
                    </div>
                   
                    <div class="form-group">
                        <input v-model="form.prenom" type="text" name="prenom" placeholder="prenom"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('prenom') }">
                        <has-error :form="form" field="prenom"></has-error>
                    </div>
                    
                    <div class="form-group">
                        <input v-model="form.date_entree" type="date" name="date_entree" placeholder="date_entree"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_entree') }">
                        <has-error :form="form" field="date_entree"></has-error>
                    </div>
                    <div class="form-group">
                        <label for="date sortie">Date Sortie</label>
                        <input v-model="form.date_sortie" type="date" name="date_sortie" placeholder="date_sortie"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_sortie') }">
                        <has-error :form="form" field="date_sortie"></has-error>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button :disabled="form.busy" type="submit" class="btn btn-primary">Add New Conge</button>
                    </div>
               </form>
            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return{
            conges:[],
            newAddedConge:'',
            form: new Form({
            nom: '',
            prenom: '',
            date_entree: '',
            date_sortie: '',
            cin: '',
            // remember: false
        })
        }
    },
    methods:{
        addNewConge(){
            this.$Progress.start();
            this.form.post('/api/conge/store')
            .then( response => {

                this.form.reset();
                toast.fire({
                icon: 'success',
                title: 'Conge created successfully'
                });
                $('#addNewConge').modal('hide');
                this.$Progress.finish()

                this.$emit('reloadCongeList');
                // this.loadUsers();
              })
              .catch( error => {
                  this.$Progress.fail()
                   swal("Wrong!", "Something went wrong!", "error");
              })

        },

        }
}
</script>
