<template>
    <div>
        <div class="modal fade" id="editConge" tabindex="-1" role="dialog" aria-labelledby="addNewCongeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewCongeLabel">Edit Conge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                       <div class="form-group">
                        <input v-model="form.cin" type="text" name="cin" placeholder="cin"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cin') }">
                        <has-error :form="form" field="cin"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.nom" type="text" name="nom" placeholder="nom"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('nom') }">
                        <has-error :form="form" field="nom"></has-error>
                    </div>
                   
                    <div class="form-group">
                        <input v-model="form.prenom" type="text" name="prenom" placeholder="prenom"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('prenom') }">
                        <has-error :form="form" field="prenom"></has-error>
                    </div>
                    
                    <div class="form-group">
                        <input v-model="form.date_entree" type="date" name="date_entree" placeholder="date_entree"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_entree') }">
                        <has-error :form="form" field="date_entree"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.date_sortie" type="date" name="date_sortie" placeholder="date_sortie"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_sortie') }">
                        <has-error :form="form" field="date_sortie"></has-error>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" @click="updateConge" class="btn btn-primary">Update Conge</button>
                    </div>

            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
import EventBus from '../../event-bus'
export default {
    data: function(){
        return{
             form: new Form({
                    id: '',
                    nom: '',
                   prenom: '',
                    date_entree: '',
                    date_sortie: '',
                    cin: '',
                })
        }
    },
    mounted(){
        EventBus.$on('editCongeInfo', conge => {
            this.form.fill(conge);
            });
    },
    methods:{
        updateConge(){
            this.$Progress.start()
             this.form.post('/api/conge/update/' + this.form.id, {
            })
            .then( ({ response }) => {
                $('#editConge').modal('hide');
                toast.fire({
                icon: 'success',
                title: 'Conge updated successfully'
                });
                this.$Progress.finish();
                this.loadConges();
              })
               .catch( error => {
                    this.$Progress.fail()
                swal("Wrong!", "Please fill all the required feild!", "error");
               });

              },
              loadConges(){
                this.$emit('reloadCongeList');
                }
              }


}
</script>
