
<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                            <h3 class="card-title" id="element1"><b>Listes des personnes (Congées)</b></h3>
                            <button id="element2" class="btn btn-success add-new" data-toggle="modal" data-target="#addNewConge">Add New <i class="fas fa-user-plus fa-fw"></i> </button>
                            <create v-on:reloadCongeList="getCongesList" />
                            <edit v-on:reloadCongeList="getCongesList" />

                    </div>

                <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">cin</th>
                                <th scope="col">prenom</th>
                                <th scope="col">nom</th>
                                <th scope="col">date de sortie </th>
                                <th scope="col">date entre </th>

                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="conge in conges.data" :key="conge.id">
                                    <th scope="row"> {{ conge.id }} </th>
                                    <td> {{ conge.cin }} </td>
                                    <td> {{ conge.prenom }} </td>
                                    <td> {{ conge.nom }} </td>
                                    <td> {{ conge.date_entree }} </td>
                                    <td> {{ conge.date_sortie }} </td>
                                    <td>
                                        <a @click="edit(conge)" href="javascript:void(0)" data-toggle="modal" data-target="#editConge"> <i class="fa fa-edit"></i></a>
                                        /
                                        <a @click="deleteConge(conge)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            </table>
                   </div>

                <div class="card-footer">
                    <pagination :data="conges" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Create from './CongeCreate.vue';
import Edit from './EditConge.vue';
import EventBus from '../../event-bus';

    export default {
  components: { Create, Edit },
        data: function(){
            return{
                conges: {},
        }
       },
       created(){
                this.getCongesList();
                EventBus.$on('searchedString', item => {

                    axios.get('/api/findConge/'+ item)
                    .then( response => {
                        this.conges = response.data;
                        console.log(response.data);
                    })
                    .catch( error => {
                        console.log(error);
                    })
                  });
            },
        methods:{
            getResults(page = 1) {
                    axios.get('api/conges?page=' + page)
                    .then((response) => {
                        this.conges = response;

                    });
	            	},
            getCongesList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/conges')
                    .then( response => {
                        this.conges = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

                edit(conge){
                EventBus.$emit('editCongeInfo', conge);
                },
                deleteConge(conge){
                    this.$Progress.start();
                    axios.post('/api/conge/' + conge.id)
                    .then(({ data }) => {
                      swal("Deleted!", "Conge deleted successfully!", "error");
                        this.getCongesList()
                        // this.users.splice(user, 1);
                        this.$Progress.finish()
                    })
                    .catch( error => {
                        this.$Progress.fail()
                        console.log( error );
                    })
                }


            },

    }
</script>

<style lang="scss" scoped>
.fa-edit {
    color:blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float:left;
    font-family: Merriweather;
    }
#element2 {
    float:right;
    font-family: Merriweather;
    }
table th{
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
