<template>
    <div>
        <div
            class="modal fade"
            id="addNewEmploi"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewEmploiLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewEmploiLabel">
                            Ajoute salarié
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            @submit.prevent="addNewEmploi"
                            @keydown="form.onKeydown($event)"
                            enctype="multipart/form-data"
                        >
                            <div class="form-group">
                                <input
                                    v-model="form.name"
                                    type="text"
                                    name="name"
                                    placeholder="Name"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('name')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="name"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="form.poste"
                                    type="text"
                                    name="poste"
                                    placeholder="poste"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('poste')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="poste"
                                ></has-error>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model="form.ville"
                                    type="text"
                                    name="ville"
                                    placeholder="ville"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('ville')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="ville"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="form.salaire"
                                    type="text"
                                    name="salaire"
                                    placeholder="salaire"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('salaire')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="salaire"
                                ></has-error>
                            </div>

                            <div class="form-group">
                                <textarea
                                    v-model="form.remarque"
                                    name="remarque"
                                    placeholder="Enter a short remarque (Optional)"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'remarque'
                                        )
                                    }"
                                ></textarea>
                                <has-error
                                    :form="form"
                                    field="remarque"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <label for="image">image</label>
                                <input
                                    type="file"
                                    class="form-control-file"
                                    @change="onChange"
                                    name="image"
                                />
                            </div>

                            <div class="pull-right">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                                <button
                                    :disabled="form.busy"
                                    type="submit"
                                    class="btn btn-primary"
                                >
                                    Ajouter salarie
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            emplois: [],
            newAddedSalarie: "",
            form: new Form({
                name: "",
                poste: "",
                ville: "",
                remarque: "",
                salaire: "",
                image: ""
                // remember: false
            })
        };
    },
    methods: {
        onChange(e) {
            console.log(e.target.files[0]);
            // this.image = e.target.files[0];
            var fileReader = new FileReader();
            fileReader.readAsDataURL(e.target.files[0]);
            fileReader.onload = e => {
                this.form.image = e.target.result;
            };
        },

        addNewEmploi() {
            const config = {
                headers: { "content-type": "multipart/form-data" }
            };

            this.$Progress.start();
            this.form
                .post("/api/emploi/store", this.form, config)
                .then(response => {
                    this.form.reset();
                    toast.fire({
                        icon: "success",
                        title: "salarié created successfully"
                    });
                    $("#addNewEmploi").modal("hide");
                    this.$Progress.finish();

                    this.$emit("reloadEmploiList");
                    // this.loadUsers();
                })
                .catch(error => {
                    this.$Progress.fail();
                    swal("Wrong!", "Something went wrong!", "error");
                });
        }
    }
};
</script>
