<template>
    <div>
        <div
            class="modal fade"
            id="editEmploi"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewEmploiLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewEmploiLabel">
                            Edit Salarié
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input
                                v-model="form.name"
                                type="text"
                                name="name"
                                placeholder="Name"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                v-model="form.poste"
                                type="text"
                                name="poste"
                                placeholder="poste"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <textarea
                                v-model="form.remarque"
                                name="remarque"
                                placeholder="Enter a short remarque (Optional)"
                                class="form-control"
                            ></textarea>
                        </div>
                        
                        <div class="form-group">
                            <input
                                v-model="form.salaire"
                                type="text"
                                name="salaire"
                                placeholder="salaire"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label for="image">image</label>
                            <input
                                type="file"
                                class="form-control-file"
                                @change="onChange"
                                name="image"
                            />
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-danger" data-dismiss="modal">
                                Close
                            </button>
                            <button
                                type="submit"
                                @click="updateEmploi"
                                class="btn btn-primary"
                            >
                                Update Salarié
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from "../../event-bus";
export default {
    data: function() {
        return {
            form: new Form({
                id: "",
                name: "",
                poste: "",
                ville: "",
                salaire: "",
                remarque: "",
                image: ""
            })
        };
    },
    mounted() {
        EventBus.$on("editEmploiInfo", emploi => {
            this.form.fill(emploi);
        });
    },
    methods: {
        onChange(e) {
            console.log(e.target.files[0]);
            // this.image = e.target.files[0];
            var fileReader = new FileReader();
            fileReader.readAsDataURL(e.target.files[0]);
            fileReader.onload = e => {
                this.form.image = e.target.result;
            };
        },

        updateEmploi() {
            const config = {
                headers: { "content-type": "multipart/form-data" }
            };

            this.$Progress.start();
            this.form
                .post("/api/emploi/update/" + this.form.id, {},config )
                .then(({ response }) => {
                    $("#editEmploi").modal("hide");
                    toast.fire({
                        icon: "success",
                        title: "Emploi updated successfully"
                    });
                    this.$Progress.finish();
                    this.loadEmplois();
                })
                .catch(error => {
                    this.$Progress.fail();
                    swal(
                        "Wrong!",
                        "Please fill all the required feild!",
                        "error"
                    );
                });
        },
        loadEmplois() {
            this.$emit("reloadEmploiList");
        }
    }
};
</script>
