
<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                            <h3 class="card-title" id="element1"><b>Emplois</b></h3>
                            <button id="element2" class="btn btn-success add-new" data-toggle="modal" data-target="#addNewEmploi">Add Salarié <i class="fas fa-user-plus fa-fw"></i> </button>
                            <create v-on:reloadEmploiList="getEmploisList" />
                            <edit v-on:reloadEmploiList="getEmploisList" />

                    </div>

                <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Poste</th>
                                <th scope="col">ville</th>
                                <th scope="col">salaire At</th>
                                <th scope="col">Remarque</th>
                                
                                <th scope="col"> CV </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="emploi in emplois.data" :key="emploi.id">
                                    <th scope="row"> {{ emploi.id }} </th>
                                    <td> {{ emploi.name }} </td>
                                    <td> {{ emploi.poste }} </td>
                                    <td> {{ emploi.ville }} </td>
                                    <td> {{ emploi.salaire }} </td>
                                     <td> {{ emploi.remarque }} </td>
                                     <!-- <td>
                                        <img
                                            :src="'/' + emploi.image"
                                            class="w3-round"
                                            width="60px"
                                            height="60px"
                                            alt="image"
                                        />
                                    </td> -->
                                    <td        
                                    >
                                        <a :href="'http://localhost:8000/'+emploi.image " download="download">PDF</a>
                                    </td>
                                    <td>
                                        <a @click="edit(emploi)" href="javascript:void(0)" data-toggle="modal" data-target="#editEmploi"> <i class="fa fa-edit"></i></a>
                                        /
                                        <a @click="deleteEmploi(emploi)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            </table>
                   </div>

                <div class="card-footer">
                    <pagination :data="emplois" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Create from './EmploiCreate.vue';
import Edit from './EmploiEdit.vue';
import EventBus from '../../event-bus';

    export default {
  components: { Create, Edit },
        data: function(){
            return{
               
                emplois: {},
        }
       },
       created(){
                this.getEmploisList();
                EventBus.$on('searchedString', item => {

                    axios.get('/api/findEmploi/'+ item)
                    .then( response => {
                        this.emplois = response.data;
                        console.log(response.data);
                    })
                    .catch( error => {
                        console.log(error);
                    })
                  });
            },
        methods:{
  onClick(emploi) {
              axios({
                    url: 'http://localhost:8000/',
                    method: 'GET',
                    responseType: 'blob',
                }).then((response) => {
                     var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                     var fileLink = document.createElement('a');
   
                     fileLink.href = fileURL;
                     fileLink.setAttribute('download',);
                     document.body.appendChild(fileLink);
   
                     fileLink.click();
                });
          },
      








            getResults(page = 1) {
                    axios.get('api/emplois?page=' + page)
                    .then((response) => {
                        this.emplois = response;

                    });
	            	},
            getEmploisList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/emplois')
                    .then( response => {
                        this.emplois = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

                edit(emploi){
                EventBus.$emit('editEmploiInfo', emploi);
                },
                deleteEmploi(emploi){
                    this.$Progress.start();
                    axios.post('/api/emploi/' + emploi.id)
                    .then(({ data }) => {
                      swal("Deleted!", "emploi deleted successfully!", "error");
                        this.getEmploisList()
                        // this.users.splice(user, 1);
                        this.$Progress.finish()
                    })
                    .catch( error => {
                        this.$Progress.fail()
                        console.log( error );
                    })
                }


            },

    }
</script>

<style lang="scss" scoped>
.fa-edit {
    color:blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float:left;
    font-family: Merriweather;
    }
#element2 {
    float:right;
    font-family: Merriweather;
    }
table th{
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
