<template>
    <div>
        <div class="modal fade" id="addNewPersonnel" tabindex="-1" role="dialog" aria-labelledby="addNewPersonnelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPersonnelLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <form @submit.prevent="addNewPersonnel" @keydown="form.onKeydown($event)">

                    <div class="form-group">
                        <input v-model="form.personne" type="text" name="personne" placeholder="personne"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('personne') }">
                        <has-error :form="form" field="personne"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.telephone" type="text" name="telephone" placeholder="telephone"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('telephone') }">
                        <has-error :form="form" field="telephone"></has-error>
                    </div>
                    <div class="form-group">
                        <select name="type" v-model="form.type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Select personne Type</option>
                            <option value="manager">manager</option>
                            <option value="sous-manager">Manager</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group">
                        <textarea v-model="form.nationalite" name="bio" placeholder="Enter a short bio (Optional)" class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                        <has-error :form="form" field="bio"></has-error>
                    </div>
                   

                    <div class="pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button :disabled="form.busy" type="submit" class="btn btn-primary">Add Personne</button>
                    </div>
               </form>
            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['personnel'],
    data: function(){
        return{
            Personnels:[],
            addNewPersonne:'',
            form: new Form({
             personne:'',
            telephone: '',
            type: '',
            bio: '',
           
            // remember: false
        })
        }
    },
    methods:{
        addNewPersonnel(){
            this.$Progress.start();
            this.form.post('/api/personnel/store')
            .then( response => {

                this.form.reset();
                toast.fire({
                icon: 'success',
                title: 'personnel created successfully'
                });
                $('#addNewPersonnel').modal('hide');
                this.$Progress.finish()

                this.$emit('reloadPersonnelList');
                // this.loadUsers();
              })
              .catch( error => {
                  this.$Progress.fail()
                   swal("Wrong!", "Something went wrong!", "error");
              })

        },

        }
}
</script>
