<template>
    <div>
        <div class="modal fade" id="editPersonnel" tabindex="-1" role="dialog" aria-labelledby="addNewPersonnelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPersonneLabel">Edit Personne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <input v-model="form.personne" type="text" name="personne" placeholder="Persone"
                            class="form-control">

                    </div>
                    <div class="form-group">
                        <input v-model="form.telephone" type="telephone" name="telephone" placeholder="telephone"
                            class="form-control" >

                    </div>
                    <div class="form-group">
                        <select name="type" v-model="form.type" class="form-control" >
                            <option value="">Select Personne Type</option>
                            <option value="manager">Manager</option>
                            <option value="sous-manager">sous-manager</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <textarea v-model="form.bio" name="bio" placeholder="Enter a short bio (Optional)" class="form-control"></textarea>

                    </div>
                 

                    <div class="pull-right">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" @click="updatePersonnel" class="btn btn-primary">Update Personne</button>
                    </div>

            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
import EventBus from '../../event-bus'
export default {
   
    data: function(){
        return{
             form: new Form({
                    id: '',
                    personne: '',
                    telephone: '',
                    type: '',    
                    bio: '',
                  
                })
        }
    },
    mounted(){
        EventBus.$on('editPersonnelInfo', personnel => {
            this.form.fill(personnel);
            });
    },
    methods:{
        updatePersonnel(){
            this.$Progress.start()
             this.form.post('/api/personnel/update/' + this.form.id, {
            })
            .then( ({ response }) => {
                $('#editPersonnel').modal('hide');
                toast.fire({
                icon: 'success',
                title: 'personnel updated successfully'
                });
                this.$Progress.finish();
                // this.$emit('reloadPersonnelList');
                this.loadPersonnels();
              })
               .catch( error => {
                    this.$Progress.fail()
                swal("Wrong!", "Please fill all the required feild!", "error");
               });

              },
              loadPersonnels(){
                this.$emit('reloadPersonnelList');
                }
              }


}
</script>
