
<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                            <h3 class="card-title" id="element1"><b>Personne</b></h3>
                            <button id="element2" class="btn btn-success add-new" data-toggle="modal" data-target="#addNewPersonnel">Add New <i class="fas fa-user-plus fa-fw"></i> </button>
                            <create v-on:reloadPersonnelList="getPersonnelsList" />
                            <edit v-on:reloadPersonnelList="getPersonnelsList" />

                    </div>

                <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Tekephone</th>
                                <th scope="col">Type</th>
                               
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="personnel in personnels.data" :key="personnel.id">
                                    <th scope="row"> {{ personnel.id }} </th>
                                    <td> {{ personnel.personne }} </td>
                                    <td> {{ personnel.telephone }} </td>
                                    <td> {{ personnel.type | capitalize }} </td>
                                    <td> {{ personnel.created_at | created_at }} </td>
                                    <td>
                                        <a @click="edit(personnel)" href="javascript:void(0)" data-toggle="modal" data-target="#editPersonnel"> <i class="fa fa-edit"></i></a>
                                        /
                                        <a @click="deletePersonnel(personnel)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            </table>
                   </div>

                <div class="card-footer">
                    <pagination :data="personnels" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

import Create from './CreatePersonnel.vue';
import Edit from './EditPersonnel.vue';
import EventBus from '../../event-bus';

    export default {
  components: { Create, Edit },
        data: function(){
            return{
                personnels: {},
        }
       },
       created(){
                this.getPersonnelsList();
                EventBus.$on('searchedString', item => {

                    axios.get('/api/findPersonnel/'+ item)
                    .then( response => {
                        this.personnels = response.data;
                        console.log(response.data);
                    })
                    .catch( error => {
                        console.log(error);
                    })
                  });
            },
        methods:{
            getResults(page = 1) {
                    axios.get('api/personnels?page=' + page)
                    .then((response) => {
                        this.personnels = response;

                    });
	            	},
            getPersonnelsList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/personnels')
                    .then( response => {
                        this.personnels = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

                edit(personnel){
                EventBus.$emit('editPersonnelInfo', personnel);
                },
                deletePersonnel(personnel){
                    this.$Progress.start();
                    axios.post('/api/personnel/' + personnel.id)
                    .then(({ data }) => {
                      swal("Deleted!", "Personnel deleted successfully!", "error");
                        this.getPersonnelsList()
                        // this.users.splice(user, 1);
                        this.$Progress.finish()
                    })
                    .catch( error => {
                        this.$Progress.fail()
                        console.log( error );
                    })
                }


            },

    }
</script>

<style lang="scss" scoped>
.fa-edit {
    color:blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float:left;
    font-family: Merriweather;
    }
#element2 {
    float:right;
    font-family: Merriweather;
    }
table th{
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
