<template>
<div class="event-calendar__grid">
    <div class="days-of-week">
        <div>Mo</div>
        <div>Tu</div>
        <div>We</div>
        <div>Th</div>
        <div>Fr</div>
        <div>Sa</div>
        <div>Su</div>
     </div>
     <div class="week" v-for="week in month" :key="week.week">
         <div class="day" :class="{ 'is-today': isToday(day) }" v-for="(day, index) in week.days" :key="index">
             <div class="day__header">{{ day.format('DD') }}</div>
             <div class="day__events">
                 <div class="event" v-for="event in eventsOf(day)" :key="event.id">{{ event.name }}</div>
             </div>
         </div>
     </div>
</div>
</template>


<script>
export default {
    data() {
        return {
    	    events: events,
            date: moment()
        };
    },
    computed: {
        startWeek() {
            return this.date.month() === 0 ? 0 : this.date.clone().startOf('month').week();
        },
        endWeek() {
            return this.date.clone().endOf('month').week();
        },
        month() {
            const month = [];

            for (let week = this.startWeek; week <= this.endWeek; week++) { 
                month.push({ 
                    week: week, 
                    days: [,,,,,,,].fill(0).map((n, i) => {
                        return this.date
                            .clone()
                            .week(week)
                            .startOf('week')
                            .add(i, 'day');
                    }),
                });
            }

            return month;
        }
    },

    methods: {
        eventsOf(day) {
            return this.events[day.format('YYYY-MM-DD')];
        },
        isToday(day) {
            return moment().format('YYYY-MM-DD') === day.format('YYYY-MM-DD');
        }
    }
}
</script>
<style scoped>
.days-of-week {
    display: flex;
    text-align: center;
}
.days-of-week > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.event-calendar__grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.week {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.week:last-child {
    border-bottom: none;
}
.week > .day {
    flex: 1;
    height: 130px;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.week > .day:last-child {
    border-right: none;
}
.day.is-today {
    background-color: #ddd;
}
</style>