
<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                            <h3 class="card-title" id="element1"><b>listes des salariés (Paiement)</b></h3>
                            <button id="element2" class="btn btn-success add-new" data-toggle="modal" data-target="#addNewPaiement">Add New <i class="fas fa-user-plus fa-fw"></i> </button>
                            <create v-on:reloadPaiementList="getPaiementsList" />
                            <edit v-on:reloadPaiementList="getPaiementsList" />

                    </div>

                <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Cin</th>
                                <th scope="col">Paiement</th>
                                <th scope="col">prime At</th>
                                <th scope="col">salaire NET</th>
                                  <th scope="col">Date Paiement</th>
                                  <th scope="col">Mois</th>
                                 <th scope="col">validé</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="(paiement) in paiements.data" :key="paiement.id" :class="{editing: paiement == editePaiement}" v-cloak  >
                                    <th scope="row"> {{ paiement.id }} </th>
                                    <td>{{ paiement.personnel.personne }} </td>
                                    <td> {{ paiement.cin }} </td>
                                    <td> {{ paiement.paiemment_humaine}} </td>
                                    <td> {{ paiement.prime }} </td>
                                    <td> {{ paiement.total }} </td>
                                    <td> {{ paiement.date_paie }} </td>
                                    <td> {{ paiement.mois }} </td>
                                     <td>
 <!-- <input
              type="checkbox"
              v-model="paiement.enabled"
              true-value="1"
              false-value="0"
              @click="update"
            > -->



   <!-- <input type="checkbox" :value="paiement.enabled" :id="'paiement.id'+index"
              v-model="paiement.enabled" @click="update(!paiement.enabled)" >  -->

<input type="checkbox" :id="paiement.id"   class="switch-input"  :value="paiement.enabled"
           v-model="paiement.enabled" @click="saveData(paiement)"  true-value="1"
              false-value="0" >


                              <span class="switch-slider" data-checked="Oui" data-unchecked="Non"></span>




            <!-- <input type='checkbox' v-model="paiement.enabled" @click="update(!paiement.enabled)">   -->
                              


                             


                                     </td>
                                    <td>
                                        <a @click="edit(paiement)" href="javascript:void(0)" data-toggle="modal" data-target="#editPaiement"> <i class="fa fa-edit"></i></a>
                                        /
                                        <a @click="deletePaiement(paiement)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            </table>
                   </div>

                <div class="card-footer">
                    <pagination :data="paiements" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Create from './PaiementCreate.vue';
import Edit from './PaiementEdit.vue';
import EventBus from '../../event-bus';

    export default {
  components: { Create, Edit },
        data: function(){
            return{
                paiements: {},
                personnels:[],
                 editePaiement: null,
              id:'',
            cin: '',
            prime: '',
            paiemment_humaine: '',
            mois: '',
            enabled:1,
               
        }
       },
       created(){
                this.getPersonnelsList();
                this.getPaiementsList();
                this.getPaiementsList();
                this.saveData();
              
                EventBus.$on('searchedString', item => {

                    axios.get('/api/findPaiement/'+ item)
                    .then( response => {
                        this.paiements = response.data;
                        console.log(response.data);
                    })
                    .catch( error => {
                        console.log(error);
                    })
                  });
            },
     
        methods:{

 editData (paiement) {
     
      this.editedPaiement = paiement
    },




         updatePaiement(){
          
            this.$Progress.start()
             this.form.post('/api/paiement/update/' + this.form.id, {
            })
            .then( ({ response }) => {
                $('#editPaiement').modal('hide');
                toast.fire({
                icon: 'success',
                title: 'Paiement updated successfully'
                });
                this.$Progress.finish();
                this.loadPaiements();
              })
               .catch( error => {
                    this.$Progress.fail()
                swal("Wrong!", "Please fill all the required feild!", "error");
               });

              },
         

            saveData(paiement) {      
                

                 this.$Progress.start();
                axios.post('/api/paiement/update/'+ paiement.id, paiement)

                       this.editedPaiement = true; 

        //    if(!this.enabled == 0) {
             
        //          this.enabled.push(this.paiements[i].id);

        //    }else {
        //        console.log(this.enabled)
        //    }
           
         




            },



          getPersonnelsList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/personnels')
                    .then( response => {
                        this.personnels = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },




            getResults(page = 1) {
                    axios.get('api/paiements?page=' + page)
                    .then((response) => {
                        this.paiements = response;

                    });
	            	},
            getPaiementsList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/paiements')
                    .then( response => {
                        this.paiements = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

                edit(paiement){
                EventBus.$emit('editPaiementInfo', paiement);
                },
               
                deletePaiement(paiement){
                    this.$Progress.start();
                    axios.post('/api/paiement/' + paiement.id)
                    .then(({ data }) => {
                      swal("Deleted!", "paiement deleted successfully!", "error");
                        this.getPaiementsList()
                        // this.users.splice(user, 1);
                        this.$Progress.finish()
                    })
                    .catch( error => {
                        this.$Progress.fail()
                        console.log( error );
                    })
                }


            },




  





    }
    
</script>

<style lang="scss" scoped>
.fa-edit {
    color:blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float:left;
    font-family: Merriweather;
    }
#element2 {
    float:right;
    font-family: Merriweather;
    }
table th{
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
