<template>
    <div>
        <div class="modal fade" id="editPaiement" tabindex="-1" role="dialog" aria-labelledby="addNewPaiementLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPaiementLabel">Edit Paiement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                  
                    <div class="form-group">
                        <select name="personnel_id" v-model="form.personnel_id" class="form-control" :class="{ 'is-invalid': form.errors.has('personnel_id') }">
                       
                            <option  v-for="personnel in personnels.data" :key="personnel.id" v-bind:value="personnel.id">{{ personnel.personne }} </option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.cin" type="text" name="cin" placeholder="cin"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cin') }">
                        <has-error :form="form" field="cin"></has-error>
                    </div>
                   
                   
                    <div class="form-group">
                        <input v-model="form.paiemment_humaine" type="number"
                        
                      
                         name="paiemment_humaine" placeholder="paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('paiemment_humaine') }">
                        <has-error :form="form" field="paiemment_humaine"></has-error>
                    </div>
                      <div class="form-group">
                        <input v-model="form.prime" type="number"
                       
                         name="prime" placeholder="prime"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('prime') }">
                        <has-error :form="form" field="prime"></has-error>
                    </div>
                     <div class="form-group">
                        <input v-model="form.date_paie" type="date" name="date_paie" placeholder="date paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_paie') }">
                        <has-error :form="form" field="date_paie"></has-error>
                    </div>
                     <div class="form-group">
                        <input v-model="form.mois" type="month" name="mois" placeholder="mois paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('mois') }">
                        <has-error :form="form" field="mois"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.total" type="number" name="total" 
                            class="form-control" :class="{ 'is-invalid': form.errors.has('total') }">
                        <has-error :form="form" field="total"></has-error>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" @click="updatePaiement" class="btn btn-primary">Update Paiement</button>
                    </div>

            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
import EventBus from '../../event-bus'
export default {
    data: function(){
        return{
             personnels:[],
             form: new Form({
                    id: '',
                 
                    cin: '',
                    prime: '',
                    paiemment_humaine: 0,
                 personnel_id: 0,
                    mois: '',
                    date_paie: '',
                    total: 0,
                })
        }
    },


 
       created(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/personnels')
                    .then( response => {
                        this.personnels = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },


    mounted(){
        EventBus.$on('editPaiementInfo', paiement => {
            this.form.fill(paiement);
            });
    },




    methods:{
        updatePaiement(){
            if (this.say == this.say) {
        this.form.total = this.say
      }
            this.$Progress.start()
             this.form.post('/api/paiement/update/' + this.form.id, {
            })
            .then( ({ response }) => {
                $('#editPaiement').modal('hide');
                toast.fire({
                icon: 'success',
                title: 'Paiement updated successfully'
                });
                this.$Progress.finish();
                this.loadPaiements();
              })
               .catch( error => {
                    this.$Progress.fail()
                swal("Wrong!", "Please fill all the required feild!", "error");
               });

              },
              loadPaiements(){
                this.$emit('reloadPaiementList');
                }
              },

              computed:{
           say: function () {
    // now we have access to the native event
         
            return  Number(this.form.prime) + Number(this.form.paiemment_humaine);
             
  },





}

}


</script>
