<template>
    <div>
        <div class="modal fade" id="addNewPaiement" tabindex="-1" role="dialog" aria-labelledby="addNewPaiementLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPaiementLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <form @submit.prevent="addNewPaiement" @keydown="form.onKeydown($event)">


                 <div class="form-group">
                        <select name="personnel_id" v-model="form.personnel_id" class="form-control" :class="{ 'is-invalid': form.errors.has('personnel_id') }">
                       
                            <option  v-for="personnel in personnels.data" :key="personnel.id" v-bind:value="personnel.id">{{ personnel.personne }} </option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>

                    <div class="form-group">
                        <input v-model="form.cin" type="text" name="cin" placeholder="cin"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cin') }">
                        <has-error :form="form" field="cin"></has-error>
                    </div>
                   
                
                    <div class="form-group">
                        <input v-model="form.paiemment_humaine" type="number" name="paiemment_humaine" placeholder="paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('paiemment_humaine') }">
                        <has-error :form="form" field="paiemment_humaine"></has-error>
                    </div>
                      <div class="form-group">
                        <input v-model="form.prime" type="number" name="prime" placeholder="prime"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('prime') }">
                        <has-error :form="form" field="prime"></has-error>
                    </div>
                     <div class="form-group">
                        <input v-model="form.date_paie" type="date" name="date_paie" placeholder="date paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_paie') }">
                        <has-error :form="form" field="date_paie"></has-error>
                    </div>
                     <div class="form-group">
                        <input v-model="form.mois" type="month" name="mois" placeholder="mois paiement"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('mois') }">
                        <has-error :form="form" field="mois"></has-error>
                    </div>
                     <div class="form-group">
                       <textarea name="salaire_net" id="" cols="30" rows="10" key="" v-model="form.salaire_net"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('salaire_net') }"
                       
                       >
                       
                       
                       </textarea>
                            >
                        <has-error :form="form" field="salaire_net"></has-error>
                    </div>



   <!-- <div class="form-group">
                                <textarea
                                    v-model="form.total"
                                   
                                  
                                    name="total"
                                    placeholder="Enter a short total (Optional)"
                                    class="form-control"
                                    
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'total'
                                        )
                                    }"
                                    
                                >
                               
                                
                             </textarea>
                                <has-error
                                    :form="form"
                                    field="total"
                                ></has-error>
                                
                                  </div>   -->

  <!-- <div class="form-group">
                        <input v-model="total" type="number" name="total" 
                            class="form-control" :class="{ 'is-invalid': form.errors.has('total') }">
                        <has-error :form="form" field="total"></has-error>
                    </div>
 <p>Salaire net est  : {{ say }}</p> 
 <p> total tes : {{total}}</p> -->

<!-- <p>Salaire test est  : {{ test }}</p>
<p>Salaire form total est  : {{ form.total }}</p>
<p>Salaire  total est  : {{ total }}</p>
<p>Num   est  : {{ numb }}</p> -->

                  <p> Salaire net est : {{say}}</p> -->
                    <div class="pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button :disabled="form.busy" type="submit" class="btn btn-primary">Add User</button>
                    </div>
               </form>
            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        this.say();
        this.test();
        return{
            paiements:[],
            total:0,
            numb : 0,
            newAddedPaiement:'',
            form: new Form({
            personnel_id: '',
            cin: '',
            prime: 0,
            paiemment_humaine: 0,
            mois: '',
             total: 0,
            // remember: false
        })
        }
    },
    methods:{
        addNewPaiement(){

 if (this.say == this.say) {
        this.form.total = this.say
      }


            this.$Progress.start();
            this.form.post('/api/paiement/store')
            .then( response => {

                this.form.reset();
                toast.fire({
                icon: 'success',
                title: 'paiement created successfully'
                });
                $('#addNewPaiement').modal('hide');
                this.$Progress.finish()

                this.$emit('reloadPaiementList');
                // this.loadUsers();
              })
              .catch( error => {
                  this.$Progress.fail()
                   swal("Wrong!", "Something went wrong!", "error");
              })

        },



         


 

        

        },
       
       data: function(){
        return{
            personnels:[],
            
           
            form: new Form({
             personne:'',
            // telephone: '',
            // type: '',
            // bio: '',
            // salaire_net:''
           
           
            // // remember: false
        })
        }
    },

computed:{
say: function () {
    // now we have access to the native event
         
            return  Number(this.form.prime) + Number(this.form.paiemment_humaine);
             
  },
  test: function () {
    // now we have access to the native event
         let tot
            this.tot= parseInt(this.form.prime) + parseInt(this.form.paiemment_humaine);
              return tot;
  },

  totals: function () {
       // must parse because Vue turns empty value to string
       return     Number(this.form.prime) +
         Number(this.form.paiemment_humaine) 
         
     }


         
                },


         created(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/personnels')
                    .then( response => {
                        this.personnels = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },


                




}
</script>
