<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="element1">
                            <b>Sales Des Reunions</b>
                        </h3>
                        <button
                            id="element2"
                            class="btn btn-success add-new"
                            data-toggle="modal"
                            data-target="#addNewReunion"
                        >
                            Add New Reunion<i
                                class="fas fa-user-plus fa-fw"
                            ></i>
                        </button>
                        <create v-on:reloadReunionList="getReunionsList" />
                        <edit v-on:reloadReunionList="getReunionsList" />
                    </div>

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">objet</th>

                                    <th scope="col">Date Reunion</th>
                                    <th scope="col">heure</th>
                                    <th scope="col">Mois</th>

                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="reunion in reunions.data"
                                    :key="reunion.id"
                                >
                                    <th scope="row">{{ reunion.id }}</th>
                                    <td>{{ reunion.personnel.personne }}</td>
                                    <td>{{ reunion.objet }}</td>
                                    <td>{{ reunion.date_reunion }}</td>
                                    <td>{{ reunion.heure }}</td>

                                    <td>{{ reunion.mois }}</td>
                                    <td>
                                        <!-- <a
                                            @click="edit(reunion)"
                                            href="javascript:void(0)"
                                            data-toggle="modal"
                                            data-target="#editReunion"
                                        >
                                            <i class="fa fa-edit"></i
                                        ></a>
                                        /
                                        <a
                                            @click="deleteReunion(reunion)"
                                            href="javascript:void(0)"
                                        >
                                            <i class="fa fa-trash red"></i
                                        ></a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <pagination
                            :data="reunions"
                            @pagination-change-page="getResults"
                        ></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Create from "./ReunionCreate.vue";
import Edit from "./ReunionEdit.vue";
import EventBus from "../../event-bus";
import Button from "primevue/button";

export default {
    components: { Create, Edit, Button },
    data: function() {
        return {
            reunions: {},
            personnels: [],
            sujet: "",
            objet: "",
            date_reunion: "",
            heure: "",
            mois: ""
        };
    },
    created() {
        this.getPersonnelsList();
        this.getReunionsList();
        EventBus.$on("searchedString", item => {
            axios
                .get("/api/findReunion/" + item)
                .then(response => {
                    this.reunions = response.data;
                    console.log(response.data);
                })
                .catch(error => {
                    console.log(error);
                });
        });
    },
    methods: {
        getPersonnelsList() {
            // axios.get('/sanctum/csrf-cookie').then(response => {
            axios
                .get("/api/personnels")
                .then(response => {
                    this.personnels = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            // });
        },

        getResults(page = 1) {
            axios.get("api/reunions?page=" + page).then(response => {
                this.reunions = response;
            });
        },
        getReunionsList() {
            // axios.get('/sanctum/csrf-cookie').then(response => {
            axios
                .get("/api/reunions")
                .then(response => {
                    this.reunions = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            // });
        },

        edit(reunion) {
            EventBus.$emit("editReunionInfo", reunion);
        },
        deleteReunion(reunion) {
            this.$Progress.start();
            axios
                .post("/api/reunion/" + reunion.id)
                .then(({ data }) => {
                    swal("Deleted!", "reunion deleted successfully!", "error");
                    this.getReunionsList();
                    // this.users.splice(user, 1);
                    this.$Progress.finish();
                })
                .catch(error => {
                    this.$Progress.fail();
                    console.log(error);
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.fa-edit {
    color: blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float: left;
    font-family: Merriweather;
}
#element2 {
    float: right;
    font-family: Merriweather;
}
table th {
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
