<template>
    <div>
        <div
            class="modal fade"
            id="addNewReunion"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewReunionLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewReunionLabel">
                            Add New Reunion
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            @submit.prevent="addNewReunion"
                            @keydown="form.onKeydown($event)"
                        >
                            <div class="form-group">
                                <select
                                    name="personnel_id"
                                    v-model="form.personnel_id"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'personnel_id'
                                        )
                                    }"
                                >
                                    <option
                                        v-for="personnel in personnels.data"
                                        :key="personnel.id"
                                        v-bind:value="personnel.id"
                                        >{{ personnel.personne }}
                                    </option>
                                </select>
                                <has-error
                                    :form="form"
                                    field="type"
                                ></has-error>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model="form.objet"
                                    type="text"
                                    name="objet"
                                    placeholder="objet"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('objet')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="objet"
                                ></has-error>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model="form.sujet"
                                    type="text"
                                    name="sujet"
                                    placeholder="sujet"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('sujet')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="sujet"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="form.heure"
                                    type="time"
                                    name="heure"
                                    placeholder="heure"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('heure')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="heure"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="form.date_reunion"
                                    type="date"
                                    name="date_reunion"
                                    placeholder="date reunion"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'date_reunion'
                                        )
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="date_reunion"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="form.mois"
                                    type="month"
                                    name="mois"
                                    placeholder="mois"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('mois')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="mois"
                                ></has-error>
                            </div>

                            <div class="pull-right">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                                <button
                                    :disabled="form.busy"
                                    type="submit"
                                    class="btn btn-primary"
                                >
                                    Add Reunion
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            reunions: [],
            personnels: [],
            newAddedReunion: "",
            form: new Form({
                personnel_id: "",
                heure: "",
                date_reunion: "",
                sujet: "",
                objet: "",
                mois: ""
                // remember: false
            })
        };
    },
    methods: {
        addNewReunion() {
            this.$Progress.start();
            this.form
                .post("/api/reunion/store")
                .then(response => {
                    this.form.reset();
                    toast.fire({
                        icon: "success",
                        title: "reunion created successfully"
                    });
                    $("#addNewReunion").modal("hide");
                    this.$Progress.finish();

                    this.$emit("reloadReunionList");
                    // this.loadUsers();
                })
                .catch(error => {
                    this.$Progress.fail();
                    swal("Wrong!", "Something went wrong!", "error");
                });
        }
    },

    created() {
        // axios.get('/sanctum/csrf-cookie').then(response => {
        axios
            .get("/api/personnels")
            .then(response => {
                this.personnels = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        // });
    }
};
</script>
